{% extends 'layout.html' %}

{% block body %}

<nav>
  <ul class="nav justify-content-end bg-primary">
  <li class="nav-item ">
    <a class="nav-link active text-white" href="/register">Register</a>
  </li>
  <li class="nav-item">
    {% if request.method=='GET' %}
      <a class="nav-link text-white" href="/login">Log in</a>
    {% else %}
      <a class="nav-link text-white" href="/logout">Log out</a>
    {% endif %}
  </li>
  </ul>
</nav>

{% if request.method=='GET' %}
  <h2>You are not logged in.</h2>
{% else %}
  <h2>You are logged in as {{name}}</h2>
{% endif %}


{% endblock %}
